<div class="content" style="margin-top: 2em;">
  <div class="row">
    <div class="filterText">
      <input type="text" [(ngModel)]="filterText" class="form-control"
             id="filterText" placeholder="Aramak İçin Renk Adını Giriniz">
      <div *ngIf="filterText.length>1" class="alert alert-success">{{filterText | titlecase}} aradınız.</div>
    </div>
    <ul class="snip1155">
      <li *ngFor="let color of colors | colorFilter:filterText"><a routerLink="cars/color/{{color.colorId}}">
        {{color.colorName}}</a>
        <hr>
      </li>
    </ul>
  </div>
</div>
