<div class="row">
  <div class="col-md-6">
    <div class="col-50">
      <div class="card" style="width: 18rem; margin-top: 10px">
        <div class="card-title">Findeks Hesapla</div>
        <div class="card-body">
          <form [formGroup]="findeksForm">
            <label for="tcNo" style="float: left" >Tc no:</label>
            <input style="float: right" type="text" id="tcNo" class="form-label" name="tcNo"
                   formControlName="tcNo">

            <label for="dateOfYear" style="float: left;">Doğum yılı:</label>
            <input style="float: right" type="number" id="dateOfYear" class="form-label" name="dateOfYear"
                   formControlName="dateOfYear">
          </form>
        </div>
        <div class="card-footer" style="text-align: center">
          <button class="btn btn-outline-primary btn-sm" (click)="findeksCalculate()"
                  [disabled]="!findeksForm.valid"  type="submit">Findeks Hesapla
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
