<div class="row">
  <div class="col-md-6">
    <div class="col-50">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <form [formGroup]="brandUpdateForm">
            <label for="brandName">Marka ismi :</label>
            <input type="text" style="margin:30px " id="brandName" class="form-label" name="brandName" formControlName="brandName" placeholder="bmw">
          </form>
        </div>
        <div class="card-footer" style="text-align: center">
          <button class="btn btn-outline-primary btn-sm"  (click)="updateBrand()"
                  [disabled]="!brandUpdateForm" type="submit">Marka Güncelle
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

