<div class="row">
  <div class="col-75">
    <div class="container">
      <form method="post">
        <div class="row">
          <div class="col-50">
            <h3 style="padding-left: 25%; font-size: 1.6em;">Fatura Adresi Bilgileri</h3>
            <label style="padding-top: 20px;" for="fname"><fa-icon [icon]="userIcon"></fa-icon> İsminiz</label>
            <input type="text" id="fname" name="firstname" placeholder="Rümeysa Yük">
            <label for="email"><fa-icon [icon]="mailIcon"></fa-icon> Email</label>
            <input type="text" id="email" name="email" placeholder="rumeysayuk90@gmail.com">
            <label for="adr"><fa-icon [icon]="addressIcon"></fa-icon> Adres</label>
            <input type="text" id="adr" name="address" placeholder="Kodlama.io">
            <label for="city"><fa-icon [icon]="cityIcon"></fa-icon> Şehir</label>
            <input type="text" id="city" name="city" placeholder="Şehir">
            <div class="row">
              <div class="col-50">
                <label for="state"> <fa-icon [icon]="streetIcon"></fa-icon> Sokak</label>
                <input type="text" id="state" name="state" placeholder="Sokak">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3 style="padding-left: 25%; font-size: 1.6em;">Kredi Kartı Bilgileri</h3>
            <label style="padding-top: 20px;" for="fname">Kabul Edilen Kart Tipleri</label>
            <div class="icon-container">
              <fa-icon [icon]="masterCardIcon" style="color: red;" class="fa-2x"></fa-icon>
            </div>
            <label for="cname">Kart İsmi</label>
            <input type="text" id="cname" name="cardname" placeholder="Rümeysa Yük">

            <label for="ccnum">Kredi Kartı Numarası</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111222233334444">
            <label for="expmonth">Ay</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="5">

            <div class="row">
              <div class="col-50">
                <label for="expyear">Yıl</label>
                <input type="text" id="expyear" name="expyear" placeholder="2025">

              </div>
              <div class="col-50">
                <label for="cvv">Cv</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
        </div>
        <label>
          <input type="text" placeholder="Kredi Kart İsmi">
          <input type="checkbox" id="saveCreditCard" checked="checked" name="sameadr">Kredi Kartı Bilgilerimi Kaydet
        </label>
        <button (click)="addRental(rental)" class="btn">Ödemeyi Tamamla</button>
      </form>
    </div>
  </div>
</div>
