<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="filterText" class="form-control"
           id="filterText" placeholder="Aramak İçin Marka Adını Giriniz">
    <div *ngIf="filterText.length>1" class="alert alert-success">{{filterText | titlecase}} aradınız.</div>
    <div *ngFor="let car of cars | carFilter:filterText" class="col-md-6">
      <div class="box">
        <img class="img-fluid" src="{{baseUrl}}{{car.imagePath}}">
        <div class="box-content">
          <div class="row">
            <div class="col-md-6" style="text-align: left">MARKA</div>
            <div class="col-md-6" style="text-align: right">{{car.brandName | uppercase}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6" style="text-align: left">RENK</div>
            <div class="col-md-6" style="text-align: right">{{car.colorName | uppercase}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6" style="text-align: left">MODEL YILI</div>
            <div class="col-md-6" style="text-align: right">{{car.modelYear}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6" style="text-align: left">GÜNLÜK FİYAT</div>
            <div class="col-md-6" style="text-align: right">{{car.dailyPrice}}
            </div>
          </div>
          <hr>
          <a class="btn btn-1" routerLink="/cars/details/{{car.id}}">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
            Detaya Git
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

