* {
  font-family: 'Montserrat', sans-serif !important;
}
.picsum-img-wrapper img{
  height: 600px;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.right {
  float: right;
  font-weight: 700;
}

.content {
  width: 90%;
  padding-left: 10%;
  margin-top: 30px;
}

.content h4:nth-child(1) {
  padding-top: 5px;
}

.content h4:nth-child(2),
.content h4:nth-child(3),
.content h4:nth-child(4) {
  padding-top: 30px;
}

.content h4:nth-child(4) {
  font-size: 1.1em !important;
}

.card {
  margin-top: 30px;
  background: #ffffff;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.car-info {
  font-size: 1.1em;
  margin-top: 50px;
}

.car-info .card-title {
  font-size: 1.4em !important;
  font-weight: 600;
  text-align: center;
}

.car-info .product-description {
  font-size: 1.4em !important;
}

.car-info .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

button {
  text-align: center;
  width: 60% !important;
  height: 50px;
  color: black;
  font-weight: 600;
  border:1px solid ;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.btn {
  background-color: #f48224;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  border-radius: 0 !important;
  border: none;
  transition: all 0.3s ease 0s;
}
.btn:hover, .btn.active:hover {
  color: #fff;
}
.btn:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background-color: #2e0014;
  width: 30%;
  height: 4px;
  transition: all 0.3s ease 0s;
}
.btn:after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color: #2e0014;
  width: 30%;
  height: 4px;
  transition: all 0.3s ease 0s;
}
.btn:hover:before, .btn:hover:after, .btn.active:before, .btn.active:after {
  width: 100%;
}
@media screen and (max-width: 575px) {
  .btn {
    margin-bottom: 50px !important;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.wrapper-no4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, white);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
.wrapper-no4 .button-bird {
  width: 300px;
  height: 88px;
  background-color: #131335;
  border-radius: 5px;
  position: absolute;
  top: 46%;
  opacity: 1;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
}
.wrapper-no4 .button-bird__text {
  text-align: center;
  font-size: 20px;
  color: #ebebeb;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}
.wrapper-no4 .button-bird:focus {
  outline: none;
}
.wrapper-no4 .button-bird:hover .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1), top 1.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1s;
}
.wrapper-no4 .button-bird:hover .bird--30:after {
  left: 50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird:hover .bird--30:before {
  left: -50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird .feather {
  position: absolute;
  width: 18%;
  left: 40%;
  top: 12px;
  display: none;
  opacity: 0;
  fill: #131335;
}
.wrapper-no4 .button-bird.active {
  background-color: transparent;
  transition: all 0.2s linear 0.1s;
}
.wrapper-no4 .button-bird.active .button-bird__text {
  color: black;
  animation: text-fade 1.5s 0.2s;
}
.wrapper-no4 .button-bird.active .feather {
  display: block;
  animation: feather-fade 1.5s linear 0.5s forwards;
}
.wrapper-no4 .button-bird.active .bird--20, .wrapper-no4 .button-bird.active .bird--19, .wrapper-no4 .button-bird.active .bird--18, .wrapper-no4 .button-bird.active .bird--21, .wrapper-no4 .button-bird.active .bird--23, .wrapper-no4 .button-bird.active .bird--25, .wrapper-no4 .button-bird.active .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1), top 2s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1.5s;
}
.wrapper-no4 .button-bird.active .bird--5, .wrapper-no4 .button-bird.active .bird--17, .wrapper-no4 .button-bird.active .bird--16, .wrapper-no4 .button-bird.active .bird--15, .wrapper-no4 .button-bird.active .bird--22 {
  left: 600px;
  top: -600px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, opacity 0.5s linear 1.6s;
}
.wrapper-no4 .button-bird.active .bird--14, .wrapper-no4 .button-bird.active .bird--13, .wrapper-no4 .button-bird.active .bird--12, .wrapper-no4 .button-bird.active .bird--24, .wrapper-no4 .button-bird.active .bird--1 {
  left: 650px;
  top: -650px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, opacity 0.5s linear 1.65s;
}
.wrapper-no4 .button-bird.active .bird--11, .wrapper-no4 .button-bird.active .bird--10, .wrapper-no4 .button-bird.active .bird--9, .wrapper-no4 .button-bird.active .bird--26, .wrapper-no4 .button-bird.active .bird--27 {
  left: 650px;
  top: -700px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, opacity 0.5s linear 1.7s;
}
.wrapper-no4 .button-bird.active .bird--8, .wrapper-no4 .button-bird.active .bird--7, .wrapper-no4 .button-bird.active .bird--6, .wrapper-no4 .button-bird.active .bird--28 {
  left: 700px;
  top: -750px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, opacity 0.5s linear 1.75s;
}
.wrapper-no4 .button-bird.active .bird, .wrapper-no4 .button-bird.active .bird--4, .wrapper-no4 .button-bird.active .bird--29, .wrapper-no4 .button-bird.active .bird--3 {
  left: 750px;
  top: -800px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, opacity 0.5s linear 1.8s;
}
.wrapper-no4 .button-bird.active .bird--2 {
  left: 850px;
  top: -850px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, top 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, opacity 0.5s linear 1.8s;
}
.wrapper-no4 .button-bird.active .bird--5:after, .wrapper-no4 .button-bird.active .bird--4:after, .wrapper-no4 .button-bird.active .bird--8:after, .wrapper-no4 .button-bird.active .bird--14:before, .wrapper-no4 .button-bird.active .bird--16:after, .wrapper-no4 .button-bird.active .bird--17:before, .wrapper-no4 .button-bird.active .bird--21:after, .wrapper-no4 .button-bird.active .bird--30:after, .wrapper-no4 .button-bird.active .bird--30:before {
  left: 50px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) -0.3s;
}
.wrapper-no4 .button-bird.active .bird--4:before, .wrapper-no4 .button-bird.active .bird--7:before, .wrapper-no4 .button-bird.active .bird--9:after, .wrapper-no4 .button-bird.active .bird--12:before, .wrapper-no4 .button-bird.active .bird--13:before, .wrapper-no4 .button-bird.active .bird--18:after, .wrapper-no4 .button-bird.active .bird--27:after, .wrapper-no4 .button-bird.active .bird--26:before {
  left: -50px;
  top: 0px;
  transition: all ss cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird:before, .wrapper-no4 .button-bird.active .bird--2:after, .wrapper-no4 .button-bird.active .bird--1:after, .wrapper-no4 .button-bird.active .bird--7:after, .wrapper-no4 .button-bird.active .bird--8:before, .wrapper-no4 .button-bird.active .bird--15:after, .wrapper-no4 .button-bird.active .bird--19:before, .wrapper-no4 .button-bird.active .bird--22:after, .wrapper-no4 .button-bird.active .bird--28:after, .wrapper-no4 .button-bird.active .bird--28:before, .wrapper-no4 .button-bird.active .bird--3:after {
  left: 100px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.wrapper-no4 .button-bird.active .bird--2:before, .wrapper-no4 .button-bird.active .bird--1:before, .wrapper-no4 .button-bird.active .bird--9:before, .wrapper-no4 .button-bird.active .bird--12:after, .wrapper-no4 .button-bird.active .bird--13:after, .wrapper-no4 .button-bird.active .bird--17:after, .wrapper-no4 .button-bird.active .bird--19:before, .wrapper-no4 .button-bird.active .bird--23:after, .wrapper-no4 .button-bird.active .bird--23:before {
  left: 50px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird:after, .wrapper-no4 .button-bird.active .bird--6:before, .wrapper-no4 .button-bird.active .bird--10:after, .wrapper-no4 .button-bird.active .bird--11:after, .wrapper-no4 .button-bird.active .bird--16:before, .wrapper-no4 .button-bird.active .bird--18:before, .wrapper-no4 .button-bird.active .bird--20:before, .wrapper-no4 .button-bird.active .bird--24:before, .wrapper-no4 .button-bird.active .bird--26:after, .wrapper-no4 .button-bird.active .bird--27:before {
  left: 50px;
  top: 50px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird--3:before, .wrapper-no4 .button-bird.active .bird--6:after, .wrapper-no4 .button-bird.active .bird--10:before, .wrapper-no4 .button-bird.active .bird--11:before, .wrapper-no4 .button-bird.active .bird--14:after, .wrapper-no4 .button-bird.active .bird--15:before, .wrapper-no4 .button-bird.active .bird--20:after, .wrapper-no4 .button-bird.active .bird--22:before, .wrapper-no4 .button-bird.active .bird--24:after, .wrapper-no4 .button-bird.active .bird--25:after, .wrapper-no4 .button-bird.active .bird--25:before, .wrapper-no4 .button-bird.active .bird--5:before {
  left: 100px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .bird, .wrapper-no4 .bird:before, .wrapper-no4 .bird:after, .wrapper-no4 .bird--1, .wrapper-no4 .bird--1:after, .wrapper-no4 .bird--1:before, .wrapper-no4 .bird--2, .wrapper-no4 .bird--2:after, .wrapper-no4 .bird--2:before, .wrapper-no4 .bird--3, .wrapper-no4 .bird--3:after, .wrapper-no4 .bird--3:before, .wrapper-no4 .bird--4, .wrapper-no4 .bird--4:after, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--5, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--6, .wrapper-no4 .bird--6:after, .wrapper-no4 .bird--6:before, .wrapper-no4 .bird--7, .wrapper-no4 .bird--7:after, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--8, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--9, .wrapper-no4 .bird--9:after, .wrapper-no4 .bird--9:before, .wrapper-no4 .bird--10, .wrapper-no4 .bird--10:after, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--11, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--12, .wrapper-no4 .bird--12:after, .wrapper-no4 .bird--12:before, .wrapper-no4 .bird--13, .wrapper-no4 .bird--13:after, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--14, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--15, .wrapper-no4 .bird--15:after, .wrapper-no4 .bird--15:before, .wrapper-no4 .bird--16, .wrapper-no4 .bird--16:after, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--17, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--18, .wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before, .wrapper-no4 .bird--19, .wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before, .wrapper-no4 .bird--20, .wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21, .wrapper-no4 .bird--21:after, .wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--26:before, .wrapper-no4 .bird--27, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29, .wrapper-no4 .bird--29:after, .wrapper-no4 .bird--29:before, .wrapper-no4 .bird--30, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  opacity: 1;
  display: block;
  position: absolute;
  background-image: url('http://cfriedri.ch/codepen/04/birds.svg');
  background-size: auto 100%;
  width: 60px;
  height: 33px;
  top: 0;
  left: 0;
  animation-name: fly-cycle;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}
.wrapper-no4 .bird--1:after, .wrapper-no4 .bird--1:before, .wrapper-no4 .bird--2:after, .wrapper-no4 .bird--2:before, .wrapper-no4 .bird--4:after, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--7:after, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--10:after, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--13:after, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--16:after, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--18, .wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before, .wrapper-no4 .bird--19, .wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before, .wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21, .wrapper-no4 .bird--21:after, .wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--26:before, .wrapper-no4 .bird--27, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29, .wrapper-no4 .bird--29:after, .wrapper-no4 .bird--29:before, .wrapper-no4 .bird--30, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  width: 30px;
  height: 33px;
  top: -8px;
  left: 8px;
  z-index: -100;
}
.wrapper-no4 .bird--21, .wrapper-no4 .bird--22, .wrapper-no4 .bird--23, .wrapper-no4 .bird--24, .wrapper-no4 .bird--25, .wrapper-no4 .bird--26, .wrapper-no4 .bird--27, .wrapper-no4 .bird--28, .wrapper-no4 .bird--29 {
  top: 0;
}
.wrapper-no4 .bird--22, .wrapper-no4 .bird--25, .wrapper-no4 .bird--28 {
  top: 25px;
}
.wrapper-no4 .bird--23, .wrapper-no4 .bird--26, .wrapper-no4 .bird--29 {
  top: 45px;
}
.wrapper-no4 .bird--24, .wrapper-no4 .bird--25, .wrapper-no4 .bird--26 {
  left: 133px;
}
.wrapper-no4 .bird--27, .wrapper-no4 .bird--28, .wrapper-no4 .bird--29 {
  left: 256px;
}
.wrapper-no4 .bird--18 {
  top: 0;
  left: 0;
}
.wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before {
  left: -20px;
}
.wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before {
  left: -10px;
}
.wrapper-no4 .bird--1:before, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--19:before {
  top: 18px;
}
.wrapper-no4 .bird--2:after, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--20:after {
  top: -18px;
  left: 12px;
}
.wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21:after {
  left: 27px;
}
.wrapper-no4 .bird--2:before, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--20:before {
  top: -36px;
  left: 12px;
}
.wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26:before {
  top: 10px;
  left: 45px;
}
.wrapper-no4 .bird--21:after, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--29:after {
  left: 10px;
  top: 4px;
}
.wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29:before {
  left: -45px;
  top: 10px;
}
.wrapper-no4 .bird:before, .wrapper-no4 .bird:after, .wrapper-no4 .bird--1:after, .wrapper-no4 .bird--1:before, .wrapper-no4 .bird--2:before, .wrapper-no4 .bird--2:after, .wrapper-no4 .bird--3:after, .wrapper-no4 .bird--3:before, .wrapper-no4 .bird--4:after, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--6:after, .wrapper-no4 .bird--6:before, .wrapper-no4 .bird--7:after, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--9:after, .wrapper-no4 .bird--9:before, .wrapper-no4 .bird--10:after, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--12:after, .wrapper-no4 .bird--12:before, .wrapper-no4 .bird--13:after, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--15:after, .wrapper-no4 .bird--15:before, .wrapper-no4 .bird--16:after, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before, .wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before, .wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21:after, .wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--26:before, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29:after, .wrapper-no4 .bird--29:before, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  content: '';
}
.wrapper-no4 .bird:before, .wrapper-no4 .bird--3:before, .wrapper-no4 .bird--12:before, .wrapper-no4 .bird--15:before, .wrapper-no4 .bird--6:before, .wrapper-no4 .bird--9:before, .wrapper-no4 .bird--18:before {
  top: 10px;
}
.wrapper-no4 .bird:after, .wrapper-no4 .bird--6:after, .wrapper-no4 .bird--12:after, .wrapper-no4 .bird--15:after, .wrapper-no4 .bird--9:after, .wrapper-no4 .bird--18:after {
  top: 35px;
}
.wrapper-no4 .bird--3:after {
  left: -10px;
}
.wrapper-no4 .bird--3:after {
  top: 40px;
}
.wrapper-no4 .bird--1, .wrapper-no4 .bird--4, .wrapper-no4 .bird--7, .wrapper-no4 .bird--10, .wrapper-no4 .bird--13, .wrapper-no4 .bird--16, .wrapper-no4 .bird--19 {
  top: 25px;
}
.wrapper-no4 .bird--2 {
  top: 45px;
}
.wrapper-no4 .bird--5 {
  top: 47px;
  left: 25px;
}
.wrapper-no4 .bird--8, .wrapper-no4 .bird--11, .wrapper-no4 .bird--14, .wrapper-no4 .bird--17, .wrapper-no4 .bird--20 {
  top: 50px;
}
.wrapper-no4 .bird--3, .wrapper-no4 .bird--4 {
  left: 59px;
}
.wrapper-no4 .bird--6, .wrapper-no4 .bird--7, .wrapper-no4 .bird--8 {
  left: 118px;
}
.wrapper-no4 .bird--9, .wrapper-no4 .bird--10, .wrapper-no4 .bird--11 {
  left: 177px;
}
.wrapper-no4 .bird--12, .wrapper-no4 .bird--13, .wrapper-no4 .bird--14 {
  left: 236px;
}
.wrapper-no4 .bird--15, .wrapper-no4 .bird--16, .wrapper-no4 .bird--17 {
  left: 206.5px;
}
.wrapper-no4 .bird--20 {
  left: 108px;
}
.wrapper-no4 .bird--18, .wrapper-no4 .bird--19 {
  left: 137.5px;
}
.wrapper-no4 .bird--30, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  left: 118px;
  top: 0;
}
.wrapper-no4 .bird--30:before {
  top: 25px;
}
.wrapper-no4 .bird--30:after {
  top: 20px;
}
.wrapper-no4 .active .bird, .wrapper-no4 .button-bird:hover .bird, .wrapper-no4 .active .bird:before, .wrapper-no4 .button-bird:hover .bird:before, .wrapper-no4 .active .bird--3, .wrapper-no4 .button-bird:hover .bird--3, .wrapper-no4 .active .bird--4, .wrapper-no4 .button-bird:hover .bird--4, .wrapper-no4 .active .bird--4:after, .wrapper-no4 .button-bird:hover .bird--4:after, .wrapper-no4 .active .bird--4:before, .wrapper-no4 .button-bird:hover .bird--4:before, .wrapper-no4 .active .bird--9, .wrapper-no4 .button-bird:hover .bird--9, .wrapper-no4 .active .bird--9:after, .wrapper-no4 .button-bird:hover .bird--9:after, .wrapper-no4 .active .bird--13, .wrapper-no4 .button-bird:hover .bird--13, .wrapper-no4 .active .bird--13:after, .wrapper-no4 .button-bird:hover .bird--13:after, .wrapper-no4 .active .bird--13:before, .wrapper-no4 .button-bird:hover .bird--13:before, .wrapper-no4 .active .bird--15, .wrapper-no4 .button-bird:hover .bird--15, .wrapper-no4 .active .bird--16, .wrapper-no4 .button-bird:hover .bird--16, .wrapper-no4 .active .bird--18, .wrapper-no4 .button-bird:hover .bird--18, .wrapper-no4 .active .bird--21, .wrapper-no4 .button-bird:hover .bird--21, .wrapper-no4 .active .bird--21:after, .wrapper-no4 .button-bird:hover .bird--21:after, .wrapper-no4 .active .bird--27:before, .wrapper-no4 .button-bird:hover .bird--27:before, .wrapper-no4 .active .bird--24, .wrapper-no4 .button-bird:hover .bird--24, .wrapper-no4 .active .bird--24:after, .wrapper-no4 .button-bird:hover .bird--24:after, .wrapper-no4 .active .bird--24:before, .wrapper-no4 .button-bird:hover .bird--24:before, .wrapper-no4 .active .bird--27, .wrapper-no4 .button-bird:hover .bird--27, .wrapper-no4 .active .bird--27:after, .wrapper-no4 .button-bird:hover .bird--27:after, .wrapper-no4 .active .bird--30:before, .wrapper-no4 .button-bird:hover .bird--30:before {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
}
.wrapper-no4 .active .bird--1, .wrapper-no4 .button-bird:hover .bird--1, .wrapper-no4 .active .bird--1:after, .wrapper-no4 .button-bird:hover .bird--1:after, .wrapper-no4 .active .bird--3:before, .wrapper-no4 .button-bird:hover .bird--3:before, .wrapper-no4 .active .bird--5, .wrapper-no4 .button-bird:hover .bird--5, .wrapper-no4 .active .bird--5:after, .wrapper-no4 .button-bird:hover .bird--5:after, .wrapper-no4 .active .bird--5:before, .wrapper-no4 .button-bird:hover .bird--5:before, .wrapper-no4 .active .bird--7, .wrapper-no4 .button-bird:hover .bird--7, .wrapper-no4 .active .bird--7:after, .wrapper-no4 .button-bird:hover .bird--7:after, .wrapper-no4 .active .bird--7:before, .wrapper-no4 .button-bird:hover .bird--7:before, .wrapper-no4 .active .bird--9:before, .wrapper-no4 .button-bird:hover .bird--9:before, .wrapper-no4 .active .bird--10, .wrapper-no4 .button-bird:hover .bird--10, .wrapper-no4 .active .bird--10:after, .wrapper-no4 .button-bird:hover .bird--10:after, .wrapper-no4 .active .bird--10:before, .wrapper-no4 .button-bird:hover .bird--10:before, .wrapper-no4 .active .bird--14, .wrapper-no4 .button-bird:hover .bird--14, .wrapper-no4 .active .bird--14:after, .wrapper-no4 .button-bird:hover .bird--14:after, .wrapper-no4 .active .bird--14:before, .wrapper-no4 .button-bird:hover .bird--14:before, .wrapper-no4 .active .bird--17, .wrapper-no4 .button-bird:hover .bird--17, .wrapper-no4 .active .bird--17:after, .wrapper-no4 .button-bird:hover .bird--17:after, .wrapper-no4 .active .bird--17:before, .wrapper-no4 .button-bird:hover .bird--17:before, .wrapper-no4 .active .bird--19, .wrapper-no4 .button-bird:hover .bird--19, .wrapper-no4 .active .bird--19:after, .wrapper-no4 .button-bird:hover .bird--19:after, .wrapper-no4 .active .bird--19:before, .wrapper-no4 .button-bird:hover .bird--19:before, .wrapper-no4 .active .bird--18:after, .wrapper-no4 .button-bird:hover .bird--18:after, .wrapper-no4 .active .bird--22, .wrapper-no4 .button-bird:hover .bird--22, .wrapper-no4 .active .bird--22:after, .wrapper-no4 .button-bird:hover .bird--22:after, .wrapper-no4 .active .bird--22:before, .wrapper-no4 .button-bird:hover .bird--22:before, .wrapper-no4 .active .bird--25, .wrapper-no4 .button-bird:hover .bird--25, .wrapper-no4 .active .bird--25:after, .wrapper-no4 .button-bird:hover .bird--25:after, .wrapper-no4 .active .bird--25:before, .wrapper-no4 .button-bird:hover .bird--25:before, .wrapper-no4 .active .bird--28, .wrapper-no4 .button-bird:hover .bird--28, .wrapper-no4 .active .bird--28:after, .wrapper-no4 .button-bird:hover .bird--28:after, .wrapper-no4 .active .bird--28:before, .wrapper-no4 .button-bird:hover .bird--28:before, .wrapper-no4 .active .bird--30:after, .wrapper-no4 .button-bird:hover .bird--30:after {
  animation-duration: 0.7s;
  animation-delay: -0.5s;
}
.wrapper-no4 .active .bird:after, .wrapper-no4 .button-bird:hover .bird:after, .wrapper-no4 .active .bird--1:before, .wrapper-no4 .button-bird:hover .bird--1:before, .wrapper-no4 .active .bird--2, .wrapper-no4 .button-bird:hover .bird--2, .wrapper-no4 .active .bird--2:before, .wrapper-no4 .button-bird:hover .bird--2:before, .wrapper-no4 .active .bird--2:after, .wrapper-no4 .button-bird:hover .bird--2:after, .wrapper-no4 .active .bird--3:after, .wrapper-no4 .button-bird:hover .bird--3:after, .wrapper-no4 .active .bird--6, .wrapper-no4 .button-bird:hover .bird--6, .wrapper-no4 .active .bird--6:after, .wrapper-no4 .button-bird:hover .bird--6:after, .wrapper-no4 .active .bird--6:before, .wrapper-no4 .button-bird:hover .bird--6:before, .wrapper-no4 .active .bird--8, .wrapper-no4 .button-bird:hover .bird--8, .wrapper-no4 .active .bird--8:after, .wrapper-no4 .button-bird:hover .bird--8:after, .wrapper-no4 .active .bird--8:before, .wrapper-no4 .button-bird:hover .bird--8:before, .wrapper-no4 .active .bird--11, .wrapper-no4 .button-bird:hover .bird--11, .wrapper-no4 .active .bird--11:after, .wrapper-no4 .button-bird:hover .bird--11:after, .wrapper-no4 .active .bird--11:before, .wrapper-no4 .button-bird:hover .bird--11:before, .wrapper-no4 .active .bird--12, .wrapper-no4 .button-bird:hover .bird--12, .wrapper-no4 .active .bird--12:after, .wrapper-no4 .button-bird:hover .bird--12:after, .wrapper-no4 .active .bird--12:before, .wrapper-no4 .button-bird:hover .bird--12:before, .wrapper-no4 .active .bird--16, .wrapper-no4 .button-bird:hover .bird--16, .wrapper-no4 .active .bird--16:after, .wrapper-no4 .button-bird:hover .bird--16:after, .wrapper-no4 .active .bird--16:before, .wrapper-no4 .button-bird:hover .bird--16:before, .wrapper-no4 .active .bird--20, .wrapper-no4 .button-bird:hover .bird--20, .wrapper-no4 .active .bird--20:after, .wrapper-no4 .button-bird:hover .bird--20:after, .wrapper-no4 .active .bird--20:before, .wrapper-no4 .button-bird:hover .bird--20:before, .wrapper-no4 .active .bird--18:before, .wrapper-no4 .button-bird:hover .bird--18:before, .wrapper-no4 .active .bird--23, .wrapper-no4 .button-bird:hover .bird--23, .wrapper-no4 .active .bird--23:after, .wrapper-no4 .button-bird:hover .bird--23:after, .wrapper-no4 .active .bird--23:before, .wrapper-no4 .button-bird:hover .bird--23:before, .wrapper-no4 .active .bird--26, .wrapper-no4 .button-bird:hover .bird--26, .wrapper-no4 .active .bird--26:after, .wrapper-no4 .button-bird:hover .bird--26:after, .wrapper-no4 .active .bird--26:before, .wrapper-no4 .button-bird:hover .bird--26:before, .wrapper-no4 .active .bird--29, .wrapper-no4 .button-bird:hover .bird--29, .wrapper-no4 .active .bird--29:after, .wrapper-no4 .button-bird:hover .bird--29:after, .wrapper-no4 .active .bird--29:before, .wrapper-no4 .button-bird:hover .bird--29:before, .wrapper-no4 .active .bird--30, .wrapper-no4 .button-bird:hover .bird--30 {
  animation-duration: 0.6s;
  animation-delay: -0.75s;
}
@keyframes fly-cycle {
  100% {
    background-position: -360px 0;
  }
}
@keyframes text-fade {
  0% {
    color: transparent;
    opacity: 1;
    top: -50%;
    left: auto;
  }
  1% {
    color: transparent;
    opacity: 0;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    color: #131335;
    opacity: 1;
  }
}
@keyframes feather-fade {
  0% {
    top: -100px;
    opacity: 0;
  }
  25% {
    transform: rotate(10deg);
    left: 30%;
  }
  50% {
    transform: rotate(-5deg);
    opacity: 1;
    left: 45%;
  }
  75% {
    transform: rotate(10deg);
    left: 32%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
    top: 12px;
    left: 43%;
  }
}
