<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Araç ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input type="number"
                     id="modelYear"
                     formControlName="modelYear" class="form-control"
                     placeholder="Model yılı"/>
            </div>
          </div>
          <div class="mb-3">
            <label for="description">Tanım </label>
            <div class="form-group">
              <input type="text"
                     id="description"
                     formControlName="description" class="form-control"
                     placeholder="Tanım"/>
            </div>
           </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük Ücret </label>
            <div class="form-group">
              <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                     placeholder="100"/>
            </div>
          </div>
          <div  class="mb-3">
            <label >MARKA SEÇİNİZ</label>
            <select class="form-control" formControlName="brandId" >
              <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
            </select>
          </div>

          <div  class="mb-3">
            <label >RENK SEÇİNİZ</label>
            <select  class="form-control" formControlName="colorId">
              <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary"  [disabled]="!carAddForm.valid" (click)="addCar()">Ekle</button>
      </div>
    </div>
  </div>
</div>
