<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Araç ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input type="number"
                     id="modelYear"
                     formControlName="modelYear" class="form-control"
                     placeholder="Model yılı"/>
            </div>
          </div>
          <div class="mb-3">
            <label for="description">Tanım </label>
            <div class="form-group">
              <input type="text"
                     id="description"
                     formControlName="description" class="form-control"
                     placeholder="Tanım"/>
            </div>
           </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük Ücret </label>
            <div class="form-group">
              <input type="number"
                     id="dailyPrice"
                     formControlName="dailyPrice" class="form-control"
                     placeholder="100"/>
            </div>
          </div>
          <div  class="mb-3">
            <select class="form-select  form-select-sm" aria-label=".form-select-sm example">
              <option selected>Marka seç</option>
              <option *ngFor="let brand of brands">{{brand.brandName}}</option>
            </select>
          </div>

          <div  class="mb-3">
            <select class="form-select form-select-sm" style="margin-top: 20px" aria-label=".form-select-sm example">
              <option selected>Renk seç </option>
              <option *ngFor="let color of colors">{{color.colorName}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="image">Resim seç </label>
            <div class="form-group">
              <input type="file"
                     id="image"
                     formControlName="image" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary"  [disabled]="!carAddForm" (click)="addCar()">Ekle</button>
      </div>
    </div>
  </div>
</div>
